.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.scrollable {
  height: auto;
  max-height: 80vh;
  overflow: auto;
}

ul {
  list-style: none;
}

ul li{
  margin: 10px 0;
  color: black;
  font-size: 1.4em;
  font-weight: 700;
  font-family: 'Times New Roman', Times, serif;
  letter-spacing: 1px;
  background: #b1d6dd;
  padding: 0.2em 1em;
  border: 2px solid transparent;
  border-radius: 20px;
  display: inline-block;
  transition: 0.4s;
  width: 350px;
  cursor: pointer;
  box-shadow: 0 0 5px rgb(133, 8, 8);
  
}

ul li:hover{
 text-decoration: underline #d63147;
 background-color: transparent;
 transform: scale(1.1);
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

#player-name-input, #confirm-button, #start-quiz-button {
  margin-bottom: 10px;
  padding: 15px;
  font-size: 16px;
  border-radius: 10px;
  text-align: center;
}

button {
  background-color: lightblue;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 10px;
  width: 50%;
}
.ending-container {
  text-align: center;
  margin-top: 50px;
}

.ending-page p {
  width: 100%;
  padding: 20px;
  font-size: 1.5em;
  background-color: black;
  color:yellow;
  margin-bottom: 30px;
}

#new-game-button {
  padding: 20px 20px;
  font-size: 1em;
  cursor: pointer;
}

.hidden {
  display: none;
}
.cat-image {
  width: 200px;
  height: auto;
  margin-top: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
